<template>
  <header>
    <div>
      <h1 class="hola">Titulo WEB Vue</h1>
    </div>
    Algo y variableOculta: {{ variableOculta }}
    <br>
    Nombre: {{nombre}}
  </header>
</template>

<script>
export default {
  data() {
    return {
        variableOculta: "Variable oculta",
        nombre:"Chicho terremoto"
    };
  },
};
</script>

<style>
</style>