<template>
  <div id="app">
    <!--Este es el comp header-->
    <CompChino />
    <img alt="Vue logo" src="./assets/logo.png">
    <HolaComp msg="Bienvenido a tu Vue.js App"/>
    <!-- <link rel="stylesheet" src="./assets/estilo.css"/> -->
    <ul>
      <li v-for="heroe in heroes" :key="heroe.id">{{heroe.nombre}}</li>
    </ul>
  </div>
</template>

<script>
import HolaComp from './components/HolaMundo.vue';
//Este es el comp header
import CompChino from './components/CompoHeader.vue'; 

export default {
  name: 'App',
  components: {
    CompChino,
    HolaComp
  },
  data(){
    return{
      heroes:[]
    }
  },
  beforeCreate(){
    let prometemeHeroes = fetch("http://localhost:8080/api/heroes");
    //Asincronamente (Dentro de un rato) recibiremos el json en una callback
    prometemeHeroes.then((respuestaHttp)=>{
      return respuestaHttp.json();
    }).then((data)=>{
      console.log(data);
      this.heroes = data;
    })
  }
}
</script>

<style lang="scss">
// @import "./assets/estilo.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
